<form class="form-horizontal" method="post">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[name]">Nombre</label>
  <div class="col-md-4">
  <input id="name" name="patient[name]" placeholder="Nombre" value="<%= patient[name] %>" class="form-control input-md" required type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[lastName]">Apellidos</label>
  <div class="col-md-4">
  <input id="lastName" name="patient[lastName]" placeholder="Apellidos" value="<%= patient[lastName] %>" class="form-control input-md" required type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[birthDate]">Fecha de nacimiento</label>
  <div class="col-md-4">
  <input id="birthDate" name="birthDate" placeholder="10/03/1993" value="<%= patient[birthDate] %>" class="form-control input-md" required type="date">

  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sex">Sexo</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="sex-0">
      <input name="patient[sex]" id="sex-0" value="Masculino" checked="checked" type="radio">
      Masculino
    </label>
	</div>
  <div class="radio">
    <label for="sex-1">
      <input name="patient[sex]" id="sex-1" value="Femenino" type="radio">
      Femenino
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dni">DNI o NIE</label>
  <div class="col-md-4">
  <input id="dni" name="patient[dni]" placeholder="00000000V" value="<%= patient[dni] %>"class="form-control input-md" required type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
  <input id="dni" name="patient[password]" placeholder="Password" class="form-control input-md" required type="password">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[mobileNumber]">Tlf de contacto</label>
  <div class="col-md-4">
  <input id="mobileNumber" name="patient[mobileNumber]" placeholder="Ej: 677999999" value="<%= patient[mobileNumber] %>" class="form-control input-md" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[contactPerson]">Persona de contacto</label>
  <div class="col-md-4">
  <input id="contactPerson" name="patient[contactPerson]" value="<%= patient[contactPerson] %>" placeholder="Familiar, etc." class="form-control input-md" type="text">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[personTlf]">Tlf de la persona de contacto</label>
  <div class="col-md-4">
  <input id="personTlf" name="patient[personTlf]" placeholder="677999999" value="<%= patient[personTlf] %>" class="form-control input-md" type="text">

  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[smoker]">Fumador</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="smoker-0">
      <input name="patient[smoker]" id="smoker-0" value="true" checked="checked" type="radio">
      Sí
    </label>
	</div>
  <div class="radio">
    <label for="smoker-1">
      <input name="patient[smoker]" id="smoker-1" value="false" type="radio">
      No
    </label>
	</div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[memoryProblems]">Familiares con transtorno congnitivo</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="memoryProblems-0">
      <input name="patient[memoryProblems]" id="memoryProblems-0" value="true" checked="checked" type="radio">
      Sí
    </label>
	</div>
  <div class="radio">
    <label for="memoryProblems-1">
      <input name="patient[memoryProblems]" id="memoryProblems-1" value="false" type="radio">
      No
    </label>
	</div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="patient[heartCondition]">Familiares con afecciones cardiacas</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="heartCondition-0">
      <input name="patient[heartCondition]" id="heartCondition-0" value="true" checked="checked" type="radio">
      Sí
    </label>
	</div>
  <div class="radio">
    <label for="heartCondition-1">
      <input name="patient[heartCondition]" id="heartCondition-1" value="false" type="radio">
      No
    </label>
	</div>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Crear">Crear</label>
  <div class="col-md-8">
    <button id="Crear" name="Crear" class="btn btn-success">Crear</button>
    <button id="Borrar" name="Borrar" class="btn btn-danger">Borrar</button>
  </div>
</div>

</fieldset>
</form>
