<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="solvedQuizes">
        <thead>
            <tr>
                <th>Test</th>
                <th>Nº Preguntas</th>
                <th>Aciertos</th>
                <th>Fallos</th>
                <th>Link</th>
            </tr>
        </thead>
        <% if (solvedQuizes.length != 0) { %>
          <tbody>
            <% for (var i = 0; i < solvedQuizes.length; i++) { %>
              <tr class="gradeA">
                  <td class="center"><%= i + 1 %></td>
                  <td class="center"><%= solvedQuizes[i].nQuestions %></td>
                  <td class="center"><%= solvedQuizes[i].correctAnswers %></td>
                  <td class="center"><%= solvedQuizes[i].failedAnswers %></td>
                  <td class="center"><a href="/patient/<%= patient._id %>/quiz/solvedQuizes/<%= solvedQuizes[i]._id %>">ver</a></td>
              </tr>
            <% } %>
          </tbody>
        <% } %>
    </table>
</div>
<!-- /.table-responsive -->
